<!DOCTYPE html>
<html>
  <head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the webpage -->
    <title>Add article</title>

    <!-- Linking CSS stylesheets -->
    <link rel="stylesheet" href="/Styles/austin_tarrach_navbar.css">
    <link rel="stylesheet" href="/Styles/main.css">
    <link rel="stylesheet" href="/Styles/register.css">
    <link rel="stylesheet" href="/Styles/add_article.css">

    <!-- Linking JavaScript files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <!-- Navigation bar -->
    <%- include('partials/navbar') %>

      <% if (typeof error_msg !== 'undefined' && error_msg.length > 0) { %>
        <div class="alert alert-danger"><%= error_msg %></div>
      <% } %>
      <% if (typeof error !== 'undefined' && error.length > 0) { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>
    
    <h1 class="top-header">Add New Article</h1>
    <% if (success_msg) { %>
        <p style="color: green;"><%= success_msg %></p>
      <% } %>
      <form action="/admin/add-article" method="POST">
        <div class="add-article-box">
          <p class="above-text">Title</p>
          <input class="textbox" type="title" id="title" name="title" placeholder="Enter Here" required>
          <p class="above-text">Content</p>
          <textarea class="add-article-textbox" type="content" id="content" name="content" oninput="adjustHeight(this)" placeholder="Enter Here" rows="11" required></textarea>
          <button type="submit" class="login-button">Add Article</button>
        </div>
      </form>
      <script>
        function adjustHeight(textarea) {
            textarea.style.height = "auto"; // Reset height
            textarea.style.height = textarea.scrollHeight + "px"; // Set to content height
        }
        </script>

      <%- include('partials/footer') %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>

