<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the webpage -->
    <title>Blog</title>

    <!-- Meta description for SEO -->
    <meta name="description" content="Brief description of the blog post that will show up in search engine results.">

    <!-- Linking CSS stylesheets -->
    <link rel="stylesheet" href="/Styles/article_list.css">
    <link rel="stylesheet" href="/Styles/austin_tarrach_navbar.css">
    <link rel="stylesheet" href="/Styles/main.css">
    <link rel="stylesheet" href="/Styles/comments.css">

    <!-- Linking JavaScript files -->
    <script defer src="/Scripts/client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <!-- Naviagation bar -->
  <%- include('partials/navbar') %>

    <div id="mainContent" class="article-list-centered-content">
      <!-- Main content (Article List) -->
      <h1 class="all-articles">All Articles</h1>
      <div class="articles-list">
          <% articles.forEach(function(article) { %>
              <div class="article">
                  <h2 class="article-title"><%= article.title %></h2>
                  <p class="article-content"><%= article.content.substring(0, 100) %>...</p>
                  <a class="article-link" href="/articles/<%= article._id %>">Read more</a>
              </div>
          <% }); %>
      </div>

      <nav class="pagination">
          <% if (currentPage > 1) { %>
              <a href="/articles?page=<%= currentPage - 1 %>">&laquo; Previous</a>
          <% } %>
          <% if (currentPage < totalPages) { %>
              <a href="/articles?page=<%= currentPage + 1 %>">Next &raquo;</a>
          <% } %>
      </nav>

    </div>
    <!-- Footer -->
    <%- include('partials/footer') %>
  
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
