<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta tags for character set and viewport settings -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title of the webpage -->
    <title>Blog</title>

    <!-- Meta description for SEO -->
    <meta name="description" content="Brief description of the blog post that will show up in search engine results.">

    <!-- Linking CSS stylesheets -->
    <link rel="stylesheet" href="/Styles/austin_tarrach_navbar.css">
    <link rel="stylesheet" href="/Styles/comments.css">
    <link rel="stylesheet" href="/Styles/homepage.css">
    <link rel="stylesheet" href="/Styles/main.css">

    <!-- Linking JavaScript files -->
    <script defer src="/Scripts/client.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

  <!-- Navigation bar -->
  <%- include('partials/navbar') %>

    <div id="mainContent" class="homepage-centered-content top-content">
      <header>
          <h1 class="title">Welcome to Austin Tarrach's Blog!</h1>
      </header>
      
      <!-- Inserting Featured Articles Section -->
      <h2 class="big-header">For first time readers...</h2>
      <section class="featured-articles">
        <div class="articles-container">
            <% articles.slice(0, 3).forEach(function(article) { %>
                <article class="article-preview">
                    <h2><%= article.title %></h2>
                    <p><%= article.content.substring(0, 150) %>...</p>
                    <p class="article-date"><%= article.date %></p>
                    <a class="article-link" href="/articles/<%= article._id %>">Read more</a>
                </article>
            <% }); %>
        </div>
      </section>

      <h2 class="big-header">Want to check out more?</h2>
      <a href="/articles" class="article-list-button">See full article list</a>


    </div>
    <%- include('partials/footer') %>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
</body>
</html>
